/* Home hooh CSS */
#htmlcontent_home {
}

ul.htmlcontent-home {
}

li.htmlcontent-item {
}

li.htmlcontent-item a.item-link {
}

li.htmlcontent-item img.item-img {
}

li.htmlcontent-item h3.item-title {
}

li.htmlcontent-item div.item-html {
}

/* Top hooh CSS */
#htmlcontent_top {
}
/*Frontend Styles*/
#htmlcontent_top li {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;	
}

#htmlcontent_top li.num-3 div{
	background: #eb008b; /* Old browsers */
	background: -moz-linear-gradient(top,  #eb008b 0%, #bf0071 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eb008b), color-stop(100%,#bf0071)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eb008b 0%,#bf0071 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eb008b 0%,#bf0071 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eb008b 0%,#bf0071 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eb008b 0%,#bf0071 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb008b', endColorstr='#bf0071',GradientType=0 ); /* IE6-9 */
}
#htmlcontent_top li.num-3 div a{ width:100% !important; display:block;}
#htmlcontent_top li > div {
	position:relative;	
	overflow:hidden;
}
#htmlcontent_top li:hover img{
	-webkit-transform: scale(1.05);
   -moz-transform: scale(1.05);
   -o-transform: scale(1.05);
   -ms-transform: scale(1.05);
   transform: scale(1.05);


	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s
}
body.instant_search #htmlcontent_top { display:none;}
@media (max-width: 768px) {
	#htmlcontent_top h2 {font-size:20px;}
}
@media (max-width: 480px) {
	#htmlcontent_top h2 {font-size:15px; top:28%;}
}
/* Left hooh CSS */
#htmlcontent_left {
}

/* Right hooh CSS */
#htmlcontent_right {
}

/* Footer hooh CSS */
#htmlcontent_footer {
}
