/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
#minic_slider {
	position:relative;
	z-index:1;	
}
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	display: none;
	position:absolute;
	left:76px;
	top:64px;
	background:none;
	color:#fff;
	width:auto;
	z-index:8;
	padding: 0px;
	opacity:1;
	overflow: hidden;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:0px;
	margin:0;
}
.nivo-caption h2{
	padding:0px;
	margin:0 0 -5px;
	color:#262626;
	font-size:87px;
	line-height:88px;
	font-weight:300;
	letter-spacing:-5px;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
}
.nivo-caption h3{
	padding:0px;
	margin:0px 0 0px 3px;
	color:#837c79;
	font-size:37px;
	line-height:38px;
	font-weight:300;
	letter-spacing:0px;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
}
.nivo-caption h4{
	padding:0px;
	margin:-12px 0 0 -1px;
	color:#da0081;
	font-size:87px;
	line-height:88px;
	font-weight:300;
	letter-spacing:-5px;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
}
.nivo-caption h5{
	padding:0px;
	margin:-2px 0 0 6px;
	color:#868786;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	line-height:20px;
	width:60%;
}
.nivo-caption a.btn1{
	color:#262626;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:26px;
	line-height:26px;
	text-decoration:underline;
	text-transform:uppercase;
	padding:0;
	margin:20px 0 0 6px;
	display:inline-block !important;
}
.nivo-caption a.btn1:hover{
	text-decoration:none;
	color:#da0081 !important;
}
.nivo-caption a {
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 0px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-default .nivoSlider {
	position:relative;
	background-image:url(../img/loading.gif);
	background-repeat:no-repeat;
	background-position:50% 50%;
    margin: 0 auto;
    margin-bottom:10px;
}
.theme-default .nivoSlider img {
	display:none;
	position:absolute;
	top:0px;
	left:0px;
}
.theme-default .nivoSlider a {
	display:block;
	border:0;
}

.theme-default .nivo-controlNav {
	text-align: center;
	padding: 0px 0;
	position:absolute;
	right:19px;
	bottom:14px;
	z-index:100;
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:13px;
	height:13px;
	background:url(../img/bullets.png) no-repeat 100% 0;
	text-indent:-9999px;
	border:0;
	margin: 0 0 0 6px;
}
.theme-default .nivo-controlNav a:hover,
.theme-default .nivo-controlNav a.active {
	background-position:0 0;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-nextNav:before {
	content:"";
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	display:block;
	text-indent:0;
	font-family:'FontAwesome';
	font-size:25px;	
}
.theme-default a.nivo-prevNav:before {
	content:"";
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	display:block;
	text-indent:0;
	font-family:'FontAwesome';
	font-size:25px;	
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {

}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a:hover,
.theme-default .nivo-controlNav.nivo-thumbs-enabled a.active{
	webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.8);
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}
body.instant_search #minic_slider { display:none;}