/* Note: Design for a width of < 767px
================================================== */
@media only screen and (max-width: 767px) {
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  /* ************************************************************************************************
  												HEADER (< 767px)
  ************************************************************************************************ */
  #header #header_right {
    padding-top: 215px;
  }

  #htmlcontent_top li.num-3 {
    text-align: center;
    float: left;
    margin-top: 10px;
  }

  .main_page_products li .product_image {
    padding: 0;
  }

  .grid li a.product_img_link {
    padding: 0;
  }

  .new-box {
    font-family: 'Roboto', sans-serif;
    left: 5px;
    overflow: hidden;
    position: absolute;
    top: 5px;
    min-width: 170px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .new-box span.new {
    display: block;
    float: left;
    font-weight: 400;
    font-size: 12px;
    color: #e1339a;
    line-height: normal;
    text-transform: uppercase;
    padding: 3px 7px 3px 7px;
    position: relative;
    text-align: center;
    z-index: 2;
    background: #fff;
    border: 1px solid #da0081;
    border-radius: 4px;
  }

  .sale-box {
    font-family: 'Roboto', sans-serif;
    left: 5px;
    right: auto;
    overflow: hidden;
    position: absolute;
    top: 35px;
    min-width: 170px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .sale-box span.on_sale {
    display: block;
    float: left;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    color: #3c3b3b;
    line-height: normal;
    padding: 3px 7px 3px 7px;
    position: relative;
    text-align: center;
    z-index: 2;
    background: #fff;
    border: 1px solid #3c3b3b;
    border-radius: 4px;
  }

  /* ************************************************************************************************
  										LANGUAGES CURRENCIES (< 767px)
  ************************************************************************************************ */
  #languages_block_top.mobile-open, #currencies_block_top.mobile-open {
    background: #333;
  }

  #languages_block_top, #currencies_block_top {
    top: 0px;
    text-align: center;
    width: 25%;
    height: 37px;
    background: url(../img/top1bg.png) repeat-x 0 0;
  }
  #languages_block_top p, #currencies_block_top p {
    padding: 10px 0 9px 0;
    border-right: 1px solid #444;
  }
  #languages_block_top p .arrow_header_top, #currencies_block_top p .arrow_header_top {
    margin: 0px 0px 4px 5px;
  }

  #countries_2 .countries_ul, #setCurrency .currencies_ul {
    left: -1px;
    top: 37px;
    width: 140px;
    text-align: left;
  }

  /* languages */
  #languages_block_top {
    right: 50%;
  }

  /* currencies */
  #currencies_block_top {
    right: 25%;
  }

  .main-mobile-menu {
    display: block;
    margin: 0px 0px 0px 0px;
  }

  .nivo-caption {
    top: 8%;
    left: 3%;
  }

  .nivo-caption h2 {
    font-size: 27px;
    line-height: 28px;
    letter-spacing: -1px;
  }

  .nivo-caption h4 {
    font-size: 27px;
    line-height: 28px;
    margin-top: -5px;
    letter-spacing: -1px;
  }

  .nivo-caption h3 {
    font-size: 17px;
    line-height: 18px;
    letter-spacing: -1px;
  }

  .nivo-caption h5 {
    display: none;
  }

  .nivo-caption a.btn1 {
    margin-top: 6px;
    font-size: 14px;
    line-height: 14px;
  }

  /* ************************************************************************************************
  										   MOBILE MENU TOP (< 767px)
  ************************************************************************************************ */
  .blockpermanentlinks-header {
    position: absolute;
    right: 75%;
    top: 0px;
    width: 25%;
  }

  .mobile-link-top {
    display: block;
    background: url(../img/top1bg.png) repeat-x 0 0;
  }

  .mobile-link-top h4 {
    margin: 0;
    padding: 6px 0 5px 0;
    border-right: 1px solid #444444;
    height: 37px;
  }

  .mobile-link-top h4 .arrow_header_top_menu.arrow_header_top {
    display: block;
    position: static;
    margin: 0px auto 0 auto;
    font-size: 25px;
    text-align: center;
  }

  body#index a.header_links_home, #sitemap a.header_links_sitemap, #contact a.header_links_contact, #cms a.header_links_delivery, #stores a.header_links_store {
    color: #979797;
  }

  #mobilelink {
    display: none;
    list-style: none;
    width: 140px;
    position: absolute;
    top: 37px;
    left: 0px;
    z-index: 101;
  }

  #mobilelink a {
    text-transform: capitalize;
  }

  /*************************************************************************************************
  											Search Mobile (< 767px)
  **************************************************************************************************/
  #search_block_top {
    right: 0px;
    top: 165px;
    width: 100%;
  }

  #search_block_top input.search_query {
    width: 100%;
    padding-right: 130px;
  }

  #search_block_top a {
    margin-left: -120px;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    width: 120px;
  }

  /*************************************************************************************************
  											Alert cart (< 767px)
  **************************************************************************************************/
  .alert_cart {
    background: #000;
    width: 310px;
    position: fixed;
    left: 50%;
    top: 0;
    margin-left: -155px;
    z-index: 9998;
  }
  .alert_cart a {
    display: block;
    padding: 21px 40px 22px 50px;
    height: 85px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    position: relative;
    z-index: 9997;
  }
  .alert_cart a:hover {
    color: #a9a9a9;
  }
  .alert_cart span {
    background: url(../img/delete_top.png) center 10px no-repeat;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 5px;
    top: 23px;
    cursor: pointer;
    z-index: 9999;
  }
  .alert_cart span:hover {
    background-position: center -50px;
  }

  /* ************************************************************************************************
  								BLOCK HEADER USER INFO LOGIN/LOGOUT (< 767px)
  ************************************************************************************************ */
  .blockuserinfo {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    width: 25%;
    height: 37px;
    background: url(../img/top1bg.png) repeat-x 0 0;
  }
  .blockuserinfo a {
    display: block;
    padding: 10px 0 9px 0;
  }

  /* ************************************************************************************************
  								HOME PRODUCTS (< 767px)
  ************************************************************************************************ */
  .main_page_products li .product_image {
    float: left;
    margin-right: 20px;
    width: 145px;
  }
  .main_page_products li .product_image a {
    display: block;
  }
  .main_page_products li .product_content {
    overflow: hidden;
  }

  /* ************************************************************************************************
  											FOOTER  (< 767px)
  *********************************************************************************************** */
  footer .block {
    width: 100%;
  }

  footer .block h4 {
    padding: 11px 0px 10px 0px;
    margin-top: 0px;
    margin-bottom: 0;
    position: relative;
  }
  footer .block h4:hover {
    cursor: pointer;
  }

  footer .block h4 i {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 12px;
  }

  footer .modules .block ul {
    display: none;
    padding: 0px 0 0 0;
    margin-top: 16px;
  }

  footer .block .list-footer li {
    padding: 0 0 6px;
  }
  footer .block .list-footer li:last-child {
    padding-bottom: 0;
  }

  .bottom_footer {
    padding-left: 15px;
    padding-right: 15px;
  }

  footer .block .list-footer li a {
    padding-right: 10px;
  }

  footer .modules {
    padding-bottom: 30px;
  }

  footer .modules.row {
    margin: 0;
  }

  /* ************************************************************************************************
  								PAGE MANUFACTURE ADN SUPLIER (< 767px)
  ************************************************************************************************ */
  .border_sep {
    border-right: none;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  .mnf_sup_list li .right_side p {
    float: left;
    margin: 8px 15px 0 0;
  }

  /* ************************************************************************************************
  								  PAGE STORES AND SITEMAP (< 767px)
  ************************************************************************************************ */
  div#stores_block p.text input {
    width: 286px;
    height: 35px;
    line-height: 35px;
    padding: 1px 1px 1px 10px;
  }

  /* ************************************************************************************************
  										BOX COL (< 767px)
  ************************************************************************************************ */
  .column .block h4 .column_icon_toggle {
    display: block;
    float: right;
    padding: 0;
    margin: 2px 0px 0 0;
  }

  .column .block h4 {
    margin-bottom: 15px;
  }
  .column .block h4:hover {
    cursor: pointer;
  }

  #right_column.column .toggle_content, #left_column.column .toggle_content {
    margin-bottom: 15px;
  }

  .products_block ul li a.products_block_img {
    width: 60px;
  }

  /* ************************************************************************************************
  						PAGINATION AND SORT AND SUBCATEGORY BLOCK (< 767px)
  ************************************************************************************************ */
  #itempage {
    float: none;
    margin: 20px 0 0 0;
  }

  .row_category .category_image {
    width: 50%;
  }

  #productsSortForm {
    margin-bottom: 10px;
  }

  #product_comments_block_extra .comments_advices a.read_rew {
    margin-bottom: 10px;
    border: none;
    padding-right: 0;
    margin-right: 0;
  }

  /**********************************************************************************************
  									  ORDER STEP (< 767px)
  ***********************************************************************************************/
  p.cart_navigation .exclusive, p.cart_navigation .exclusive_large {
    float: right;
    margin-bottom: 0px;
    padding-left: 9px;
    padding-right: 9px;
  }

  #order_steps {
    width: 280px;
    overflow: hidden;
    margin: 20px auto 20px auto;
    list-style: none;
    height: 200px!important;
  }

  #order_steps li.even:first-child {
    background: #9c9c9c;
  }

  #order_steps li.even.step_current:first-child {
    background: #202020;
  }

  #order_steps li.even {
    background: url(../img/marker-order2.png) center 0px no-repeat #9c9c9c;
  }

  #order_steps li.odd {
    background: url(../img/marker-order2.png) center 0px no-repeat #777777;
  }

  #order_steps li {
    float: none;
    width: 280px;
    height: 40px;
    text-align: center;
  }

  #order_steps li a, #order_steps li span {
    display: inline-block;
    padding: 6px 0 0 5px;
    font: bold 14px "Arial";
  }

  #order_steps li span {
    color: #ffffff;
    font-weight: bold;
  }

  #order_steps li span span {
    float: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
  }

  #order_steps li.even.step_current {
    background: #202020;
  }

  #order_steps li.odd.step_current {
    background: #202020;
  }

  #order_steps li a {
    font-weight: bold;
    color: #ccc;
    text-decoration: none;
    padding: 0;
  }

  #order_steps li a:hover {
    color: #fff;
  }

  #availableCarriers_table th {
    font-size: 12px;
    word-wrap: break-word;
    white-space: normal;
  }

  /**********************************************************************************************
  								  SHOPPING CART PAGE (< 767px)
  ***********************************************************************************************/
  table#cart_summary td.cart_product {
    padding-right: 20px;
    width: 100px;
  }

  #order-detail-content #cart_summary td.cart .div_cart_quantity_delete a {
    margin-left: 9px;
  }

  #order-detail-content .title-th.cart_quantity_title {
    display: none;
  }

  #compare_shipping_form #compare_shipping .SE_SubmitRefreshCard input {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  #order-detail-content table td strong {
    margin-right: 7px;
  }

  #order-detail-content table#cart_summary td {
    display: table-cell;
    border-bottom: 0;
    font-size: 12px;
  }

  #order-detail-content table#cart_summary input.cart_quantity_input {
    width: 35px;
  }

  #order-detail-content table#cart_summary td.cart_product {
    padding-right: 10px;
  }

  #order-detail-content #cart_summary.multishipping-cart td.cart_quantity {
    width: 100%;
  }

  table#cart_summary.multishipping-cart .cart_quantity .cart_quantity_input {
    border: 1px solid #cccccc;
    width: 45px;
  }

  #order-detail-content table.multishipping-cart td strong {
    display: block;
    float: none;
    font-weight: bold;
    color: #333;
    margin-right: 7px;
    clear: both;
    color: #333333;
    font-weight: bold;
    margin-right: 7px;
    padding-bottom: 7px;
    width: 100%;
  }

  #order-detail-content table.multishipping-cart td {
    display: block!important;
    border-bottom: 0!important;
  }

  #order-detail-content table.multishipping-cart thead {
    display: none;
  }

  .multishipping-cart .cart_quantity {
    width: auto;
    overflow: hidden;
  }

  #order-detail-content table.multishipping-cart td select option {
    padding: 5px;
  }

  .order_delivery {
    padding-top: 7px;
  }

  #module-cheque-payment #columns p.cart_navigation a, #module-bankwire-payment #columns p.cart_navigation a {
    display: block;
    float: none;
    text-align: center;
  }

  #module-cheque-payment #columns p.cart_navigation input, #module-bankwire-payment #columns p.cart_navigation input {
    float: none;
    width: 100%;
    text-align: center;
  }

  #module-bankwire-payment #columns p.cart_navigation input {
    margin-bottom: 20px;
  }

  #module-referralprogram-program #idTab3 table th {
    font-size: 11px;
  }

  #module-referralprogram-program #idTab3 table th, #module-referralprogram-program #idTab3 table td {
    padding-left: 2px;
    word-wrap: break-word;
    padding-right: 2px;
  }

  #module-referralprogram-program #idTab3, #module-referralprogram-program #idTab1, #module-referralprogram-program #idTab2 {
    overflow: auto;
  }
}
/* Note: Design for a width of < 480px 
================================================== */
@media only screen and (max-width: 480px) {
  #header_logo {
    top: 85px;
  }
  #header_logo img {
    width: 160px;
    height: 34px;
  }

  #header_user {
    padding: 7px 4px 6px 10px;
    border: none;
    background: none;
    top: 67px;
  }

  #header #cart_block {
    top: 120px;
  }

  #header_user #shopping_cart .opancart {
    margin: 2px 0 0 11px;
  }

  #header_user #shopping_cart .shopping_cart_title {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 2px;
  }

  #header_user #shopping_cart a {
    font-size: 12px;
  }

  .main_page_products li .product_image {
    float: left;
    margin-right: 20px;
    width: 120px;
  }
  .main_page_products li .product_image a {
    display: block;
  }
  .main_page_products li .product_content {
    overflow: visible;
  }
  .main_page_products li .button {
    float: left;
  }
  .main_page_products li .exclusive {
    float: left;
    clear: left;
    margin-right: 15px;
  }

  #history #block-history .footable-cell-detail .btn {
    margin-bottom: 10px;
  }

  .btn {
    white-space: normal;
  }

  #instant_search_results .title_shop_block {
    width: 100%;
    text-align: left;
    float: none;
    display: block;
    margin-top: 5px;
  }
  #instant_search_results .title_shop_block a {
    font-size: 11px;
  }

  #order-detail-content table#cart_summary td.cart_product a img {
    width: 120px;
  }
}
/* Note: Design for a width of 480px * 767px
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* ************************************************************************************************
  			MOBILE MENU TOP  CURRENCIES   LANGUAGES    USER INFO (480px * 767px)
  ************************************************************************************************ */
  #mobilelink {
    width: 178px;
  }

  #countries_2 .countries_ul, #setCurrency .currencies_ul {
    width: 179px;
  }

  .alert_cart {
    width: 420px;
    left: 50%;
    margin-left: -210px;
  }

  #header_logo img {
    width: 200px;
    height: 43px;
  }

  .nivo-caption h2 {
    font-size: 47px;
    line-height: 48px;
    letter-spacing: -1px;
  }

  .nivo-caption h4 {
    font-size: 47px;
    line-height: 48px;
    margin-top: -5px;
  }

  .nivo-caption h3 {
    font-size: 27px;
    line-height: 28px;
  }

  .nivo-caption h5 {
    display: none;
  }

  .nivo-caption a.btn1 {
    margin-top: 3px;
  }

  #header_user {
    padding: 6px 7px 6px 8px;
    top: 72px;
  }

  /* ************************************************************************************************
  								HOME PRODUCTS (480px * 767px)
  ************************************************************************************************ */
  /* ************************************************************************************************
  								BOX COL (480px * 767px)
  ************************************************************************************************ */
  .products_block ul li > div {
    width: 348px;
  }

  /**********************************************************************************************
  							  LOGIN PAGE	(480px * 767px)								
  ***********************************************************************************************/
  p.cart_navigation .exclusive, p.cart_navigation .exclusive_large {
    float: right;
    margin-bottom: 0px;
    margin-right: 0px;
  }

  /**********************************************************************************************
  								ORDER PAGE (480px * 767px)									
  ***********************************************************************************************/
  table#cart_summary td.cart_product {
    width: 146px;
  }

  table#cart_summary .min-with-td {
    display: inline-block;
    font-weight: normal;
    min-width: 100px;
  }

  table#cart_summary td.tdfirst {
    width: 77%;
  }
}
/* Note: Design for a width of 768px * 991px
================================================== */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #header {
    padding-bottom: 20px;
  }
  #header #header_logo {
    top: 89px;
  }
  #header #header_logo img {
    width: 180px;
    height: 39px;
  }

  #search_block_top {
    right: 225px;
  }
  #search_block_top input.search_query {
    width: 180px;
  }

  #header_user {
    padding: 6px 7px 6px 8px;
    top: 72px;
  }

  .nivo-caption {
    top: 30px;
    left: 36px;
  }

  .nivo-caption h2 {
    font-size: 57px;
    line-height: 58px;
  }

  .nivo-caption h4 {
    font-size: 57px;
    line-height: 58px;
    margin-top: -5px;
  }

  .nivo-caption h3 {
    font-size: 27px;
    line-height: 28px;
  }

  .nivo-caption a.btn1 {
    margin-top: 10px;
  }

  /* ************************************************************************************************
  								HOME PRODUCTS (768px * 991px)
  ************************************************************************************************ */
  .main_page_products li.first_item_of_tablet_line {
    clear: left;
  }

  /* ************************************************************************************************
  			  					CATEGORY PAGE (768px * 991px)
  ************************************************************************************************ */
  #product_comparison .product_image_div a img {
    width: 70px;
  }

  #product_comparison .product_image_div span {
    width: 30px;
  }

  #product_comparison th {
    white-space: normal;
    padding: 5px;
    text-align: center;
  }

  /* ************************************************************************************************
  			 				 	BOX COLUMN (768px * 991px)
  ************************************************************************************************ */
  .products_block ul li > div {
    width: 90px;
  }

  .products_block ul li a.products_block_img {
    width: 55px;
  }

  .products_block ul li .reduction {
    margin-left: 0;
    margin-right: 0;
  }

  /* ************************************************************************************************
  			 					ORDER (768px * 991px)
  ************************************************************************************************ */
  table#cart_summary td.tdfirst {
    width: 83%;
  }

  .multishipping-cart .cart_ref {
    padding: 5px!important;
  }

  table.multishipping-cart td {
    padding: 5px !important;
  }

  .addresses #id_address_delivery {
    width: 100%;
  }

  /******************************************************************************************************
  								Multishiping (768px * 991px)
  *******************************************************************************************************/
  #cart_summary.multishipping-cart #cart_quantity_button a {
    clear: both;
  }

  table#cart_summary.multishipping-cart .cart_quantity .cart_quantity_input {
    clear: both;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
    width: 45px;
  }

  table#cart_summary.multishipping-cart #cart_quantity_button {
    float: none !important;
    margin: 0 auto;
    width: 45px;
  }
}
/* Note: Design for a width of 992px * 1199px
================================================== */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .products_block ul li > div {
    width: 120px;
  }

  #search_block_top {
    right: 320px;
  }

  .nivo-caption {
    top: 30px;
    left: 36px;
  }
}
/* Note: Design for a width > 767px
================================================== */
@media only screen and (min-width: 767px) {
  footer .block ul.toggle_content {
    display: block !important;
    height: 100% !important;
    opacity: 1 !important;
  }
}
/* Note: Design for a width of > 991px
================================================== */
@media only screen and (min-width: 992px) {
  .main_page_products li.first_item_of_line {
    clear: left;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
