/************************************* desktop menu************************************/
#menu-trigger {
	display: none;
}
#menu-wrap {
	background:url(../img/cat-shadow.png) no-repeat 0% 100%;
	position: relative;
	z-index: 2;
	margin-bottom:10px;
	padding-bottom:20px;
}
#menu-custom, #menu-custom ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu-custom:before, #menu-custom:after {
	display: table;
	content: "";
}
#menu-custom:after {
	clear: both;
}
#menu-custom {
	zoom: 1;
	background: url(../img/menu-bg.gif) repeat-x #fbfbfb;
}
.desktop #menu-custom li {
	float: left;
	position: relative;
}
.desktop #menu-custom > li {
	border-right:1px solid #e4e4e4;
}
.desktop #menu-custom > li > a {
	float: left;
	padding: 14px 20px 22px 20px;
	color: #262626;
	text-transform:capitalize;
	font: normal 17px/20px 'Roboto', Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.desktop #menu-custom a:hover, .desktop #menu-custom > li:hover > a, .desktop #menu-custom > li.sfHoverForce > a {
	color: #da0081;
}
.desktop #menu-custom li li:hover > a {
	color: #111111;
}
.desktop #menu-custom ul {
	display: none;
	margin: 20px 0 0 0;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 56px;
	left: 0;
	z-index: 1;
	padding:14px 0 15px 0;
	border-top:5px solid #2d2d2d;
	background: #fff;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.desktop #menu-custom li:hover > ul {
	display: block;
	opacity: 1;
	visibility: visible;
	margin: 0;
}
.desktop #menu-custom ul ul {
	top: 0;
	left: 210px;
	border:none;
	margin: 0 0 0 20px;
}
.desktop #menu-custom ul li {
	display: block;
	float: none;
	border: 0;
}
.desktop #menu-custom ul a {
	display: block;
	float: none;
	padding: 0 20px 7px 20px;
	width: 210px;
	white-space: nowrap;
	color:#777777;
	text-transform: none;
	font: normal 14px/18px 'Roboto', Arial, Helvetica, sans-serif;
}
.desktop #menu-custom ul a:hover, .desktop #menu-custom ul li.sfHoverForce > a {
	color:#111111;
}
#menu-trigger {
	display: none;
}
.desctop #menu-custom {
	display: block;
}
.desktop #menu-custom li.hasSub > a:before {

}
.desktop #menu-custom li li.hasSub > a:after {
	content:"";
	font-family:'FontAwesome';
	color:#343434;
	font-size:14px;
	position:absolute;
	right:18px;
}
/**************************************************mobile menu**************************************************************/
@media only screen and (max-width:1199px) {
#menu-wrap.desktop {
	display: none;
}
#menu-wrap {
	position: relative;
	background: url(../img/menu-bg.gif) repeat-x;
	padding-bottom:0;
}
#menu-wrap * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#menu-trigger {
	height: 48px;
	line-height: 48px;
	cursor: pointer;
	padding: 0 0 0 20px;
	color: #262626;
	font-weight: 400;
	font-size: 23px;
	font-family: 'Roboto', sans-serif;
}
#menu-trigger .menu-icon {
	display: block;
	font-size: 30px;
	line-height: 30px;
	width: auto;
	position: absolute;
	top: 8px;
	right: 14px;
}
.mobile #menu-custom {
	display: none;
	margin: 0;
	padding: 0px;
	position: absolute;
	top: 50px;
	left:0;
	width: 100%;
	z-index: 1;
	background: #444 ;
}
#menu-custom ul.menu-mobile-2 {
	display: none;
}
#menu-custom li {
	display: block;
	position: static;
	position: relative;
}
#menu-custom a {
	display: block;
	float: none;
	padding: 10px 20px;
	color: #fff;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}
#menu-custom a:hover {
	background: #888;
}
#menu-custom ul a {
	padding-left: 40px;
	width: auto;
}
#menu-custom ul ul a {
	padding-left: 60px;
	width: auto;
}
.open-mobile-2 {
	display: block;
	font-size: 25px;
	line-height: 30px;
	position: absolute;
	right: 13px;
	top: 4px;
	height: 30px;
	width: 30px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}
.open-mobile-2:hover {
	cursor: pointer;
}
.open-mobile-2:hover + a {
	background: #888888;
}
}
